.mlp-player {
	position: relative;
}

.mlp-player .control {
	position: absolute;
	cursor: pointer;
}

.mlp-player .control .play {
	position: absolute;
}

.mlp-player .control .stop {
	position: absolute;
}


.mlp-player .body {
	position: absolute;
}

.mlp-player .body .progress {
	position: absolute;
}

.mlp-player .body .loaded {
	position: absolute;
}

.mlp-player .body .time {
	position: absolute;
}

.mlp-player .volume-ctrl {
	position: absolute;
}

.mlp-player .volume-ctrl .icon {
	position: absolute;
	cursor: pointer;
}


.mlp-player .volume-ctrl .scrubber {
	cursor: pointer;
	position: absolute;
}

.mlp-player .volume-ctrl .scrubber .full_bar {
	position: absolute;
}

.mlp-player .volume-ctrl .scrubber .scroller {
	position: absolute;
	z-index: 2;
	left: 40%;
	top: -35%;
}


.mlp-player .message {
	position: absolute;
}