.mlp-player {
	position: relative;
}

.mlp-player .control {
	position: absolute;
	cursor: pointer;
}

.mlp-player .control .play {
	position: absolute;
	cursor: pointer;
}

.mlp-player .control .stop {
	position: absolute;
	cursor: pointer;
}


.mlp-player .body {
	position: absolute;
}

.mlp-player .body .progress {
	position: absolute;
}

.mlp-player .body .loaded {
	position: absolute;
}

.mlp-player .body .time {
	position: absolute;
}

.mlp-player .volume-ctrl {
	position: absolute;
}

.mlp-player .volume-ctrl .icon {
	position: absolute;
}


.mlp-player .volume-ctrl .scrubber {
	position: absolute;
}

.mlp-player .message {
	position: absolute;
}