.mlp-player {
	position: relative;
}

.mlp-player .control {
	position: relative;
	top: 0px;
	left: 0px;
	background: url('/play_standard.jpg');
}

.mlp-player .control-play {
	background: url('/play_standard.jpg');
}

.mlp-player .control-pause {
	background: url('/stop_standard.jpg');
}


.mlp-player .body {
	position: relative;
	top: 0px;
	left: 0px;
}

.mlp-player .body .progress {
	position: relative;
	top: 0px;
	left: 0px;
}

.mlp-player .body .loaded {
	position: relative;
	top: 0px;
	left: 0px;
}

.mlp-player .body .time {
	position: relative;
	top: 0px;
	left: 0px;
}

.mlp-player .volume-ctrl {
	position: relative;
	top: 0px;
	left: 0px;
}

.mlp-player .volume-ctrl .icon {
	position: relative;
	top: 0px;
	left: 0px;
}


.mlp-player .volume-ctrl .scrubber {
	position: relative;
	top: 0px;
	left: 0px;
}

.mlp-player .message {
	position: relative;
	top: 0px;
	left: 0px;
}